* {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    margin: 0;
} 
 
:root {
    --main-colour: #C3E0E5;
    --important-colour: #274472;
    --interactable-colour: #5885AF;
    --accent-colour: #41729F;
}

body, html {
    height: 100%;
    background-color: white;
}

.parallax {
      /* The image used */
    background-image: url("../Images/CitySceneWireFrame.png");

    /* Full height */
    height: 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 30vh;
}

.header {
    text-align: center;    
}

.container {
    background-color: white;
    padding: 1rem;
    box-shadow: 0px -6px var(--accent-colour), 2px 2px 10px var(--important-colour);
}

.navbar {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: var(--important-colour);
    font-size: 1.2rem;
    font-weight: 110%;
}

.navbar a:nth-child(even) {
    border-left: solid var(--main-colour);
    border-right: solid var(--main-colour);
    padding-left: 0.4rem;
    padding-right: 0.4rem;   
}

.jumpAnchor {
    position: relative;
    visibility: hidden;
    bottom: 8rem;
}